/* Write your CSS here */
.login-btn {
  height: 30px;
  width: 80px;
  background-color: #fff;
  color: #303150;
  border: none;
  font-family: 'Roboto';
  border-radius: 10px;
  margin-top: 10px;
}
